nav.filter {
    position: sticky;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    color: royalblue;
    box-shadow: 0px 0px 9px rgb(0, 0, 0);
}

nav.filter input,
nav.filter select {
    padding: 10px;
    outline: none;
    border: 1px solid royalblue;
    font-size: 17px;
    color: royalblue;
}

nav.filter input:focus,
nav.filter select:focus {
    box-shadow: 1px 1px 4px rgb(121, 149, 236);
}