.topNav img {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.profile {
    position: absolute;
    right: 2%;
    top: 100%;
    z-index: 99;
    background-color: #f1faff;
    border-radius: 20px;
    padding: 20px;
    width: 96%;
    max-width: 400px;
    /* box-shadow: 2px 2px 7px gray; */
    border: 4px solid #03a9f4;
}

.profile p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 25px;
}

.profile .imgContainer {
    position: relative;
}

.profile .imgContainer img {
    height: 100px;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    border: 3px solid #03a9f4;
    cursor: auto;
}

.profile .imgContainer label {
    position: absolute;
    top: 70px;
    right: calc(50% - 50px);
    background-color: white;
    color: royalblue;
    outline: none;
    border: none;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px gray;
    font-size: 15px;
}

.profile h2 {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}

.profile a {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    color: royalblue;
    text-align: center;
    border: 1px solid rgb(71, 71, 71);
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    text-decoration: none;
}

.profile footer {
    padding: 10px 20px;
}

.profile footer button {
    padding: 16px;
    width: 100%;
    background-color: rgb(92, 130, 245);
    color: white;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: 0.2s all;
    box-shadow: 3px 3px 5px gray;
    border-radius: 30px;
}

.profile footer button:focus {
    outline: 3px solid rgb(92, 130, 245);
    outline-offset: 4px;
}

.profile footer button:active {
    background-color: royalblue;
    box-shadow: inset 3px 3px 5px rgb(0 26 107);
}